<div class="container">
    <p>
      <label for="user-input">Your Info</label>
      <br>
      Product URL: <input id="url" type="text" ng-model="watcher.query">
      <br>
      Target price: <input type="text" ng-model="watcher.target">
      <br>
      Threshold: <input type="text" ng-model="watcher.threshold">
      <br>
      <input type="checkbox" ng-model="send_email" ng-true-value="'True'" ng-false-value="'False'"> Send Email Notification 
      <br>
      <div ng-hide="send_email=='False'">
        Email: <input id="email" type="text" ng-model="watcher.email">
      </div>
      <input type="button" ng-click="accept(watcher)" value="Go" />
    </p>

  <script>

  </script>
  
  <div class="jumbotron">

  <h2>Active Watchers</h2>
      <div class="row" ng-controller="MainCtrl">
        
          <div class="panel panel-default">
            <div class="panel-heading">Price Info</div>
              <div class="panel-body">
                <canvas class="chart chart-bar" chart-type="type" data="data" labels="labels" series="series"></canvas>
              </div>
          </div>
     
      </div>
    <div ng-bind-html="output"></div>
    <input type="button" ng-click="updateWatchers()" value="Refresh" />
  </div>


</div>


